
body{
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: "Montserrat", sans-serif;
}

#nav-menu a {

    color: white;
    text-decoration: none;
}

#nav-menu a:hover {
    border-bottom: 3px solid #ffa200;
    border-radius: 3px;
    transition: 0.2s;
}
#nav-menu{

    display: flex;
    float: right;
    margin-right: 8%;
    clear: both;
    font-size: 25px;
}

#formulario{

    background-color: white;
    width: 1106px;
    height: 342px;
}

#form{
    display: grid;
}
.text-notice{
    width: 350px;
}
.text-notice p{
    color: #727171;
}
.text-notice span{
    color: #4e4e4e;
    font-weight: 500;
}

#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.textinho {
    color:white;
    font-size: 48px;
    text-align: end;
    margin-right: 70px;

}

.textinho2 {
    color: white;
    margin-left: 159px;
    margin-top: 10%;
    font-size: 20px;
}

.form{
    background-color: white;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    box-shadow: 10px 10px 10px rgba(199, 199, 199, 0.13);
}

.form_aviao {
    display: flex;
    justify-content: space-between;
}
.grid_container{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    gap: 80px;
    width: 100%;
}
.label {
    display: block;
}

#nav_form{
    display: flex;
    float: center; 
    height: 40px;
    margin-left: 7%;
}
#selecionado {
    color: #4E4E4E;
    border-radius: 3px;
    text-decoration: none;
    
}

#selecionado:hover{
    border-bottom: 3px solid #ffa200;
    color: #ffa200;
    
}

.msg_alert{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    background-color: #fffce4;
    margin-top: 35px;;
    width: 80%;
    height: 70px;
}
.teste{
    position: relative;
    margin-left: 30px;
    
}
footer{
    background-color: #c2cff0;
    height: 250px;
}

.card{
    background-color: #F5F8FF;
    display: flex;
    width: 600px;
    

}
.span_ajuste{
    display: grid;
    margin-left: 20px;
    margin-top: 10px;
}

.check-in{
    display: flex;
    margin-top: 50px;
    margin-left:23% ;
}
.check-in button{
    border: none; width: 250px; 
    border-radius: 5px;
    height: 40px; color: white; 
    background-color: #ff7100;
    margin-top: 20px;
    font-family: "Montserrat", sans-serif;
    font-size: medium;
}


.inputs {
    width: 244px;
    height: 32px;
    font-family: "Montserrat", sans-serif;
}

.form_container{
    display:flex;
    margin-left: 20px;

}
.form_container input{
    border-radius: 5px solid rgb(173, 172, 172);
}

.follow_us{

    margin-left: 100px;
    margin-right: 15%;
}
#div-un{
    display: flex;
  float: right;
}
.container-discover{
    display: flex;
    justify-content: center;
    gap: 38px;
    width: 100%;
}
.pedreiro{
    width: 400px;
    height: 180px;
}

